* { 
marin: 0;
padding: 0;
box-sizing: border-box;
}

header {
background-color: purple;
}

.navbar {
max-widht: 1200px;
height: 70px;
margin: auto;
padding: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;

}

.nav-links {
display: flex;
gap: 30px;
list-style: none;

}

.nav-links a {
color: white;
text-decoratuon: nome;
font-size: 16px;
transition: color 0.3s ease;
}



.nav-links a:houver {
colori: #3498db;
}